<div *ngIf="images && images.length > 0" class="carousel-container">
  <img *ngFor="let image of images; let i=index" 
    [src]="image.imageSrc"  
    [alt]="image.imageAlt"
    [ngClass]="{'image-active': selectedIndex === i}"
    class="fade"
    >

    <div  class="slider-section-info"
    *ngFor="let titleName of images; let i=index"
    >
      <h3 >
        {{titleName.titleInfo}}
      </h3>
      <p>{{titleName.titleText}}</p>
      <div class="link">
        <a  [href]="titleName.linkInfo"
        > 
          <span>{{titleName.titleTextLink}}</span>
          <img *ngFor="let image of images; let i=index" 
          [src]="titleName.imageIcon"  
          [ngClass]="{'image-active': selectedIndex === i}"
          class="right-arrow-icon"
          >
        </a>

      </div>
    </div>
    <div *ngIf="indicators" class="carousel-title-container">
      <span *ngFor="let title of images; let i=index" 
    class="title"
    [ngClass]="{'active': selectedIndex === i}"
    (click)="selectImage(i)"
    
    ><h2 class="title-photo"
    [ngClass]="{'active': selectedIndex === i}"
    >{{title.titlePhoto}}</h2></span>
    </div>
    
</div>


  