<footer>
    <div class="container">
        <div class="col">
            <img class="logo" src="../../../assets/logo/ecs_logo_transparent (1).png" alt="">
            <div class="data-info" style="margin-bottom: 20px;">
                <p>+48 500 167 972</p>
                <p style="color: #FD0726;">@ecsgroup.pl</p>
            </div>
            <div class="social-icons">
                <img class="logo-sm" src="../../../assets/icon/facebook-app-symbol.png" alt="">
                <img class="logo-sm" src="../../../assets/icon/linkedin.png" alt="">
                <img class="logo-sm" src="../../../assets/icon/youtube.png" alt="" style="width:50px; height: 50px;">
            </div>
        </div>
        <div class="col">
            <div class="title"><h4>Doradztwo i konsulting</h4></div>
            <div class="text-footer">
                <ul>
                    <li>Strategie biznesowe</li>
                    <li>Komunikacja marketingowa</li>
                    <li>Organizacja procesów HR</li>
                    <li>Warsztaty, audyty i szkolenia</li>
                </ul>

            </div>
            <div class="title" style="margin-top: 30px;"><h4>
                Nasze doświadczenie
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h4>
                Outsourcing procesów
            </h4></div>
            <div class="text-footer">
                <ul>
                    <li>Outsoucing rekr. i HR</li>
                    <li>Outsourcing marketingu </li>
                    <li>BPO - Sieć partnersk</li>
                </ul>
            </div>
            <div class="title" style="margin-top: 60px;"><h4>
                Inspiracje
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h4>
                Współpraca i kariera
            </h4></div>
            <div class="text-footer">
                <ul>
                    <li>Eksperci</li>
                    <li>Partnerzy </li>
                    <li>Kariera</li>
                    <li>Freelancer HUB</li>
                </ul>
            </div>
            <div class="title" style="margin-top: 30px;"><h4>
                O nas
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h3>Bądź na bieżąco</h3></div>
            <div class="right-col-text">
                <p>
                    Zapisz się do naszego comiesięcznego newslettera kierowanego do sektora MŚP. Sprawdzaj jak wyprzedzić konkurencję.
                </p>
                <input type="text"
                placeholder="Twój adres e-mail">
                <button >
                    <a href="#" class="button"><span>Umów konsultację</span></a>
                </button>
                <div class="checkbox-input" >
                    <input type="checkbox">
                    <label for="checkbox">
                        Zapoznałem się z polityką prywatności i zgadzam się na jej warunki.
                    </label>
                </div>
            </div>
        </div>
    </div>
</footer>
