<footer>
    <div class="container">
        <div class="col">
            <img class="logo" src="../../../assets/logo/ecs_logo_transparent (1).png" alt="">
            <div class="data-info">
                <span>+48 500 167 972 <br> @ecsgroup.pl</span>
            </div>
            <div class="social-icons">
                <img class="logo" src="../../../assets/icon/facebook-app-symbol.png" alt="">
                <img class="logo" src="../../../assets/icon/linkedin.png" alt="">
                <img class="logo" src="../../../assets/icon/youtube.png" alt="" style="width:50px; height: 50px;">
            </div>
        </div>
        <div class="col">
            <div class="title"><h4>Doradztwo i konsulting</h4></div>
            <div class="text-footer">
                <p>
                    Strategie biznesowe
Komunikacja marketingowa
Organizacja procesów HR
Warsztaty, audyty i szkolenia
                </p>
            </div>
            <div class="title"><h4>
                Nasze doświadczenie
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h4>
                Outsourcing procesów
            </h4></div>
            <div class="text-footer">
                <p>Outsoucing rekr. i HR
                    Outsourcing marketingu 
                    BPO - Sieć partnersk
                    </p>
            </div>
            <div class="title"><h4>
                Inspiracje
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h4>
                Współpraca i kariera
            </h4></div>
            <div class="text-footer">
                <p>
                    Eksperci<br>
Partnerzy<br>
Kariera<br>
Freelancer HUB

                </p>
            </div>
            <div class="title"><h4>
                O nas
            </h4></div>
        </div>
        <div class="col">
            <div class="title"><h3>Bądź na bieżąco</h3></div>
            <div class="right-col-text">
                <p>
                    Zapisz się do naszego comiesięcznego newslettera kierowanego do sektora MŚP. Sprawdzaj jak wyprzedzić konkurencję.
                </p>
                <input type="text">
                <div class="footer-button">
                    <button >
                        <a href="#" class="button"><span>Umów konsultację</span></a>
                    </button>
                </div>
                <div class="checkbox-input" >
                    <input type="checkbox">
                    <label for="checkbox">
                        Zapoznałem się z polityką prywatności i zgadzam się na jej warunki.
                    </label>
                </div>
            </div>
        </div>
    </div>
</footer>
