<section>


    <div class="customer-feedback">
        <div class="title-customer-feedback">CO MÓWIĄ O NAS KLIENCI?</div>
        <div class="slogan-customer-feedback">Opinie klientów </div>
        <div class="text-customer-feedback"><p>
            Paliwem, które napędza nas do codziennej pracy, podnoszenia poprzeczki i realizowania coraz bardziej ambitnych projektów są opinie zadowolonych klientów. 
            <br><br>
            Miarą naszego sukcesu jest moment, w którym klient i jego zespół przestają traktować nas jako dostawcę usług a uznają za część swojej organizacji.  
        </p></div>
    </div>
    <app-customer-feedback></app-customer-feedback>
    <div class="consulting">
        <div class="left-col"></div>
        <div class="right-col">
            <div class="consulting-box">
                <div class="consulting-info">
                    <div class="consulting-icon">
                        <img src="../../../assets/icon/email.png" alt="" style="width:30px; height: 30px">
                    </div>
                    <div class="consulting-title">
                        Umów konsultację
                    </div>
                </div>
                <button>
                    <a href="#" class="button"><span>Umów konsultację</span></a>
                </button>
            </div>
            <div class="consulting-text">
                <p>
                    Nie wiemy czy będziemy w stanie Ci pomóc. Nie dowiemy się tego jeśli nie porozmawiamy. Poświęć nam 20 minut w dogodnym dla Ciebie terminie na niezobowiązującą rozmowę a będzie wiadomo czy dobrze trafiłeś. Jeśli nie będziemy mogli pomóc powiemy to wprost szanując Twój cenny czas.
                </p>
            </div>
        </div>
    </div>
    <div class="article-three-row">
        <img src="../../../assets/photos/lighthouse.png" alt="">
        <div class="text-article-three">
            <div class="title-article">
                <div class="title-small"><span>NASZA FILOZOFIA </span></div>
                <div class="line"></div>
            </div>
            <h2>Każdego dnia chcemy dokładać małą cegiełkę do rozwoju polskich firm, dzieląc się z nimi knowhow naszych konsultantów i partnerów. Twój sukces to nasz sukces. Dlatego też zawsze działamy na 120%.</h2>
            <p>Stawiamy na długofalowe relacje, wzajemne zaufanie, szacunek i otwartą komunikację. Chcemy stawać się Partnerami przez duże “P”. Częścią zespołu, przewodnikiem, 12 graczem który asystuje, pomaga przewidzieć szanse i zagrożenia. Dostarcza inspiracji i potrafi spojrzeć obiektywnie na to czego nie widać z wewnątrz. A to wszystko po to aby nasi Klienci mogli jeszcze skuteczniej realizować swoje biznesowe cele.  </p>
            <button>
                <span>
                    Czytaj więcej
                </span>    
                    <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
            </button>

        </div>
    </div>

        <!--TITLE -->
        <div class="title-row">
            <div class="column-line-left"></div>
            <div class="column-title">
                <h3>klienci i partnerzy</h3>
            </div>
            <div class="column-line-right"></div>
        </div>
        <!--BRANDS -->
        <div class="brands-row">
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 62.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 63.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 64.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 67.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 62.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 63.png" alt="">
            </div>
        </div>
</section>


