<section>


    <!--ARTICLE -->
<!--     <div class="article-one-row" 
    >
        <div class="one-col">
            <img class="photos" src="../../../assets/photos/Boat.png" alt=""
            >
        </div>
        <div class="text-article">

            
            <ul>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Warsztaty komunikacyjne i marketingowe. Budowanie planów i strategii komunikacyjnych.</p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Kompleksowe tworzenie nowoczenych i angażujących Twoich potencjalnych klientów stron WWW</p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Projektowanie i obsługa kampanii digital marketingowych, skierowanych do właściwych odbiorców</p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Nowoczesna i spójna prezentacja wizerunku firmy. Systematyzowanie i układanie czytelnej oferty</p>
                </li>
            </ul>
            <p>Od lat produkujecie wysokiej jakości automatykę dla ciężkiego przemysłu, dystrybuujecie najwyższej klasy linie produkcyjne, sprzedajecie specjalistyczne  urządzenia miernicze itp. Jesteście ekspertami w swojej dziedzinie, jednak czujecie, że obszar marketingu i sprzedaż można by podkręcić, macie w końcu niewykorzystany potencjał wzrostu. Efekty zaczynają się od niezobowiązującej rozmowy. Precyzyjne dotarcie do właściwego klienta, wejście na nowe rynki, poprawa czytelności oferty, wskazanie korzyści płynących ze współpracy z Wami i wiele więcej...</p>
        </div>

    </div> -->
    <!--ARTICLE -->

    <!--ARTICLE -->
<!--     <div class="article-two-row">
        <div class="text-article-two">
            <h2>Właściwy człowiek na właściwym miejscu. </h2>
            <p>Rozwijasz swój biznes, pozyskujesz nowych klientów, nowe kontrakty , rozpoczynasz kolejne realizacje. Aby utrzymać oczekiwany przez klientów poziom jakościowy prac, potrzebujesz pozyskiwać właściwych ludzi, w szczególności inżynierów, specjalistów, doświadczoną w realizacji podobnych projektów kadrę kierowniczą. Jeżeli HR nie jest waszą domeną, warto zastanowić się nad skorzystaniem ze wsprawcia specjalistów, któryy mają na swoim koncie liczne projekty rekrutacyjne dla branży przemysłowej.</p>
            <ul>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Szeroki wachlarz usług rekrutacyjnych prowadzonych w ramach outsourcingu (m.in. sourcing, marketing rekrutacyjny, kampanie rekrutacyjne)</p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Przemyślana i oparta na doświadczeniach strategia pozyskiwania/utrzymywania pracowników</p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Działania towarzyszące, związane z budowaniem wizerunku pracodawcy (employer branding), badania satysfakcji pracowników i kandydatów</p>
                </li>
            </ul>


        </div>
        <div class="img-col">
            <img src="../../../assets/photos/Rectangle 74.png" alt="">
        </div>
    </div> -->
<!--     <div class="baner-section">
        <div class="icon">
                <img src="../../../assets/icon/phone-ringing.png" alt="" style="width:50px; height: 50px">
        </div>
        <div class="title-text">
            <span>Umów konsultację</span>
        </div>
        <div class="button-consultacion">
            <a href="#" class="button"><span>Umów konsultację</span></a>
        </div>
    </div>
    <div class="services">
        <div class="title-article">
            <div class="title-small"><span>ROZWIĄZANIA I USŁUGI</span></div>
            <div class="line"></div>
        </div>
        <div class="text-services-container">
            <div class="text-article">
                <div class="title-article">
                    <div class="title-article-left">
                        <span class="span-one">Myśląc poważnie o rozwoju swojej firmy, skalowaniu biznesu w oparciu o stabilne fundamenty, warto pomyśleć o partnerze, który będzie w stanie sprostać pojawiającym się szansom i wyzwaniom. Jako Grupa ECS staramy się budować partnerskie środowisko łącząc doświadczonych konsultantów, ambitnych freelancerów z Klientami, którzy chcą osiągać sukces w biznesie. </span>
                        <br><br><br>
                        <span class="span-two">Doskonale rozumiemy, że jako przedsiębiorca jesteś bardzo zajętą osobą. Naszym zadaniem jest powiedzieć co, jak i dlaczego zrobić? A następnie zadbać aby się to zadziało, zdejmując z Ciebie część ciężaru dostarczając knowhow i właściwych ludzi. Ty skoncentruj się na prowadzeniu biznesu, my zadbamy o resztę. </span>
        
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="title-article-right">
                    <p>Działamy zarówno wewnątrz firmy pomagając przy planowym poukładaniu elementów, jak i na zewnątrz w ramach usługi outsourcingu. 
                        Czy znajdziemy obszary do współpracy? Najprościej porozmawiać.</p>
                    <span class="slogan"> Rozwiązania i usługi </span>
                </div>
            </div>
        </div>

    </div> -->

                                        <!-- CARDS SECTION -1 -->

    <!-- <app-services-image-section></app-services-image-section> -->
<!--     <div class="image-services" [ngClass]="[btnStyle]">
        <div class="item item-1" (click)="submit()">
            <div class="inside-item">
                <span class="item-slogan" >Warsztaty i strategie biznesowe
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-2">
            <div class="inside-item">
                <div class="item-slogan">
                    <span>Wdrażanie i optymalizacja procesów HR</span>
                    <div class="line"></div>
                </div>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-3">
            <div class="inside-item">
                <span class="item-slogan">Audyty i szkolenia
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-4">
            <div class="inside-item">
                <span class="item-slogan">Outsourcing procesów rekrutacyjnych [RPO]
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
    </div>  -->

                                        <!-- CARDS SECTION -2 -->

                              <!--           <div class="image-services">
                                            <div class="item item-1" >
                                                <div class="inside-item">
                                                    <span class="item-slogan">Branding i rebranding marek
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-2">
                                                <div class="inside-item">
                                                    <div class="item-slogan">
                                                        <span>Wdrażanie i optymalizacja procesów HR</span>
                                                        <div class="line"></div>
                                                    </div>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-3">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Audyty i szkolenia
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-4">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Outsourcing procesów rekrutacyjnych [RPO]
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-5">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Warsztaty i strategie biznesowe
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-6">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Tworzenie stron WWW dla firm
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-7">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Oustourcing usług marketingowych [MBO]
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                            <div class="item item-8">
                                                <div class="inside-item">
                                                    <span class="item-slogan">Obsługa kampanii digital marketingu
                                                        <div class="line"></div>
                                                    </span>
                                                    <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                                                </div>
                                            </div>
                                        </div> -->





<!--     <div class="article-three-row">
        <div class="text-article-three">
            <div class="title-article">
                <div class="title-small"><span>NASI KLIENCI</span></div>
                <div class="line"></div>
            </div>
            <h2>Nowa wersja ambitnego startupu IT</h2>
            <p>Klientem jest istniejąca od kilku lat na rynku firma z branży IT.  Specjalizuje się w usługach devops, architekturze i administracji sieciami IT. Klientami są średnie i duże spółki z różnych branż.

                Firma chce uporządkować swoją ofertę, przedstawić w czytelny dla potencjalnego klienta sposób, właściwie zaadresować. Chce również zwiększyć skalę działalności poprzez dotarcie do nowych klientów. Do tej pory większość projektów pozyskiwała dzięki poleceniom zadowolonych klientów.</p>
            <button>
                <span>
                    Czytaj więcej
                </span>    
                    <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
            </button>

        </div>
        <img src="../../../assets/photos/pracownik.png" alt="">
        <div class="blue-box">1212</div>
    </div> -->
    <div class="customer-feedback">
        <div class="title-customer-feedback">CO MÓWIĄ O NAS KLIENCI?</div>
        <div class="slogan-customer-feedback">Opinie klientów </div>
        <div class="text-customer-feedback"><p>
            Paliwem, które napędza nas do codziennej pracy, podnoszenia poprzeczki i realizowania coraz bardziej ambitnych projektów są opinie zadowolonych klientów. 
            <br><br>
            Miarą naszego sukcesu jest moment, w którym klient i jego zespół przestają traktować nas jako dostawcę usług a uznają za część swojej organizacji.  
        </p></div>
    </div>
    <div class="customer-slider-feedback">
        <div class="quote-data">
            <div class="quote-icon">
                <img src="../../../assets/icon/quote.png" alt="">
            </div>
            <div class="quote-info">
                <div class="name">
                    Grzegorz
                </div>
                <div class="position">
                    Co-founder, CTO, Branża IT
                </div>
                <div class="icon-next">
                    <span class="prev">
                        <img src="../../../assets/icon/right-arrows.png" alt="" style="transform:rotate(180deg); width:20px; height: 20px">
                    </span>
                    <span class="next">
                        <img src="../../../assets/icon/right-arrows.png" alt="" style="width:20px; height: 20px">
                    </span>
                </div>
            </div>
        </div>
        <div class="quote-text">
            <p>
                “Dla nas najważniejszy był fakt że  z dużą uwagą słuchali i dobrze zrozumieli niuanse naszego biznesu. Niewątpliwie godna podkreślenia jest również sprawność koordynowania projektu”
            </p>
        </div>
    </div>
    <div class="consulting">
        <div class="left-col"></div>
        <div class="right-col">
            <div class="consulting-box">
                <div class="consulting-info">
                    <div class="consulting-icon">
                        <img src="../../../assets/icon/email.png" alt="" style="width:30px; height: 30px">
                    </div>
                    <div class="consulting-title">
                        Umów konsultację
                    </div>
                </div>
                <button>
                    <a href="#" class="button"><span>Umów konsultację</span></a>
                </button>
            </div>
            <div class="consulting-text">
                <p>
                    Nie wiemy czy będziemy w stanie Ci pomóc. Nie dowiemy się tego jeśli nie porozmawiamy. Poświęć nam 20 minut w dogodnym dla Ciebie terminie na niezobowiązującą rozmowę a będzie wiadomo czy dobrze trafiłeś. Jeśli nie będziemy mogli pomóc powiemy to wprost szanując Twój cenny czas.
                </p>
            </div>
        </div>
    </div>
    <div class="article-three-row">
        <img src="../../../assets/photos/lighthouse.png" alt="">
        <div class="text-article-three">
            <div class="title-article">
                <div class="title-small"><span>NASZA FILOZOFIA </span></div>
                <div class="line"></div>
            </div>
            <h2>Każdego dnia chcemy dokładać małą cegiełkę do rozwoju polskich firm, dzieląc się z nimi knowhow naszych konsultantów i partnerów. Twój sukces to nasz sukces. Dlatego też zawsze działamy na 120%.</h2>
            <p>Stawiamy na długofalowe relacje, wzajemne zaufanie, szacunek i otwartą komunikację. Chcemy stawać się Partnerami przez duże “P”. Częścią zespołu, przewodnikiem, 12 graczem który asystuje, pomaga przewidzieć szanse i zagrożenia. Dostarcza inspiracji i potrafi spojrzeć obiektywnie na to czego nie widać z wewnątrz. A to wszystko po to aby nasi Klienci mogli jeszcze skuteczniej realizować swoje biznesowe cele.  </p>
            <button>
                <span>
                    Czytaj więcej
                </span>    
                    <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
            </button>

        </div>
    </div>

        <!--TITLE -->
        <div class="title-row">
            <div class="column-line-left"></div>
            <div class="column-title">
                <h3>klienci i partnerzy</h3>
            </div>
            <div class="column-line-right"></div>
        </div>
        <!--BRANDS -->
        <div class="brands-row">
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 62.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 63.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 64.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 67.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 62.png" alt="">
            </div>
            <div class="brand">
                <img class="logo" src="../../../assets/logo/Rectangle 63.png" alt="">
            </div>
        </div>
</section>


