<section>
    <!--TITLE -->
    <div class="title-row">
        <div class="column-line-left"></div>
        <div class="column-title">
            <h3>współpracowaliśmy z</h3>
        </div>
        <div class="column-line-right"></div>
    </div>
    <!--BRANDS -->
    <div class="brands-row">
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
        <div class="brand">
            <img class="logo" src="../../../assets/logo/ecs_logo_color (2).png" alt="">
        </div>
    </div>
    <!--ARTICLE -->
    <div class="article-one-row">
        <img src="../../../assets/photos/pexels-tom-fisk-10407692.jpg" alt="">
        <div class="text-article">
            <div class="title-article">
                <div class="title-small"><span>NASI KLIENCI</span></div>
                <div class="line"></div>
            </div>
            <h2>Jak dotrzeć do nowych klientów? Jak wejść na nowe rynki? </h2>
            <p>Od lat produkujecie wysokiej jakości automatykę dla ciężkiego przemysłu, dystrybuujecie najwyższej klasy linie produkcyjne, sprzedajecie specjalistyczne  urządzenia miernicze itp. Jesteście ekspertami w swojej dziedzinie, jednak czujecie, że obszar marketingu i sprzedaż można by podkręcić, macie w końcu niewykorzystany potencjał wzrostu. Efekty zaczynają się od niezobowiązującej rozmowy. Precyzyjne dotarcie do właściwego klienta, wejście na nowe rynki, poprawa czytelności oferty, wskazanie korzyści płynących ze współpracy z Wami i wiele więcej...</p>
            <ul>
                <li><span>
                    <img src="../../../assets/icon/accept-circular-button-outline.png" alt="" style="width:20px; height: 20px">
                </span> Warsztaty komunikacyjne i marketingowe. Budowanie planów i strategii komunikacyjnych.</li>
                <li><span>
                    <img src="../../../assets/icon/accept-circular-button-outline.png" alt=""  style="width:20px; height: 20px">
                </span>Kompleksowe tworzenie nowoczenych i angażujących Twoich potencjalnych klientów stron WWW</li>
                <li><span>
                    <img src="../../../assets/icon/accept-circular-button-outline.png" alt=""  style="width:20px; height: 20px">
                </span>Projektowanie i obsługa kampanii digital marketingowych, skierowanych do właściwych odbiorców</li>
                <li><span>
                    <img src="../../../assets/icon/accept-circular-button-outline.png" alt=""  style="width:20px; height: 20px">
                </span>Nowoczesna i spójna prezentacja wizerunku firmy. Systematyzowanie i układanie czytelnej oferty</li>
            </ul>

        </div>
        <div class="menu-article">
            <div class="menu">
                <div class="menu-title">
                    <span> Nasi klienci</span>
                </div>
                <ul><li>Przemysł i produkcja</li>
                    <li>Branża IT</li>
                    <li>Reatail</li>
                    <li>Legal i Finanse</li>
                    <li>MŚP</li>
                    <li>Nieruchomości</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="article-two-row">
        <div class="text-article-two">
            <h2>Właściwy człowiek na właściwym miejscu. </h2>
            <p>Rozwijasz swój biznes, pozyskujesz nowych klientów, nowe kontrakty , rozpoczynasz kolejne realizacje. Aby utrzymać oczekiwany przez klientów poziom jakościowy prac, potrzebujesz pozyskiwać właściwych ludzi, w szczególności inżynierów, specjalistów, doświadczoną w realizacji podobnych projektów kadrę kierowniczą. Jeżeli HR nie jest waszą domeną, warto zastanowić się nad skorzystaniem ze wsprawcia specjalistów, któryy mają na swoim koncie liczne projekty rekrutacyjne dla branży przemysłowej.</p>
            <ul>
                <li>
                    <span>
                        <img src="../../../assets/icon/accept-circular-button-outline.png" alt="" style="width:20px; height: 20px">
                    </span>
                    Szeroki wachlarz usług rekrutacyjnych prowadzonych w ramach outsourcingu (m.in. sourcing, marketing rekrutacyjny, kampanie rekrutacyjne)</li>
                <li>
                    <span>
                        <img src="../../../assets/icon/accept-circular-button-outline.png" alt="" style="width:20px; height: 20px">
                    </span>
                    Przemyślana i oparta na doświadczeniach strategia pozyskiwania/utrzymywania pracowników</li>
                <li>
                    <span>
                        <img src="../../../assets/icon/accept-circular-button-outline.png" alt="" style="width:20px; height: 20px">
                    </span>
                    Działania towarzyszące, związane z budowaniem wizerunku pracodawcy (employer branding), badania satysfakcji pracowników i kandydatów</li>
            </ul>

        </div>
        <img src="../../../assets/photos/pracownik.png" alt="">
    </div>
    <div class="services">
        <div class="text-article">
            <div class="title-article">
                <div class="title-small"><span>ROZWIĄZANIA I USŁUGI</span></div>
                <div class="line"></div>
            </div>
            <div class="title-article">
                <div class="title-article-left">
                    <span class="span">Wychodzimy z założenia, że prowadząc biznes jesteś bardzo zajętą osobą. Niestety czas to zasób, którego każdemu z nas brakuje. <br><br>

                        Naszym celem jest dostarczanie 
                        w preferowanej przez Ciebie formie, wysokiej jakości specjalistycznych usług, w obszarach, które nie są głównym przedmiotem (‘core’) działalności Twojej firmy. </span>
    
                </div>
                <div class="title-article-right">
                    <p>Działamy zarówno wewnątrz firmy pomagając przy planowym poukładaniu elementów, jak i na zewnątrz w ramach usługi outsourcingu. 
                        Czy znajdziemy obszary do współpracy? Najprościej porozmawiać.</p>
                    <span class="slogan"> Rozwiązania i usługi </span>
                </div>
            </div>
        </div>
    </div>
    <div class="image-services">
        <div class="item item-1" >
            <div class="inside-item">
                <span class="item-slogan">Branding i rebranding marek
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-2">
            <div class="inside-item">
                <div class="item-slogan">
                    <span>Wdrażanie i optymalizacja procesów HR</span>
                    <div class="line"></div>
                </div>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-3">
            <div class="inside-item">
                <span class="item-slogan">Audyty i szkolenia
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-4">
            <div class="inside-item">
                <span class="item-slogan">Outsourcing procesów rekrutacyjnych [RPO]
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-5">
            <div class="inside-item">
                <span class="item-slogan">Warsztaty i strategie biznesowe
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-6">
            <div class="inside-item">
                <span class="item-slogan">Tworzenie stron WWW dla firm
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-7">
            <div class="inside-item">
                <span class="item-slogan">Oustourcing usług marketingowych [MBO]
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
        <div class="item item-8">
            <div class="inside-item">
                <span class="item-slogan">Obsługa kampanii digital marketingu
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
            </div>
        </div>
    </div>
    <div class="baner-section">
        <div class="icon">
                <img src="../../../assets/icon/phone-ringing.png" alt="" style="width:50px; height: 50px">
        </div>
        <div class="title-text">
            <span>Umów konsultację</span>
        </div>
        <div class="button-consultacion">
            <a href="#" class="button"><span>Umów konsultację</span></a>
        </div>
    </div>
    <div class="article-three-row">
        <div class="text-article-three">
            <div class="title-article">
                <div class="title-small"><span>NASI KLIENCI</span></div>
                <div class="line"></div>
            </div>
            <h2>Nowa wersja ambitnego startupu IT</h2>
            <p>Klientem jest istniejąca od kilku lat na rynku firma z branży IT.  Specjalizuje się w usługach devops, architekturze i administracji sieciami IT. Klientami są średnie i duże spółki z różnych branż.

                Firma chce uporządkować swoją ofertę, przedstawić w czytelny dla potencjalnego klienta sposób, właściwie zaadresować. Chce również zwiększyć skalę działalności poprzez dotarcie do nowych klientów. Do tej pory większość projektów pozyskiwała dzięki poleceniom zadowolonych klientów.</p>
            <button>
                <span>
                    Czytaj więcej
                </span>    
                    <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
            </button>

        </div>
        <img src="../../../assets/photos/pracownik.png" alt="">
        <div class="blue-box">1212</div>
    </div>
    <div class="customer-feedback">
        <div class="title-customer-feedback">CO MÓWIĄ O NAS KLIENCI?</div>
        <div class="slogan-customer-feedback">Opinie klientów </div>
        <div class="text-customer-feedback"><p>
            Paliwem, które napędza nas do codziennej pracy, podnoszenia poprzeczki i realizowania coraz bardziej ambitnych projektów są opinie zadowolonych klientów. 
            <br><br>
            Miarą naszego sukcesu jest moment, w którym klient i jego zespół przestają traktować nas jako dostawcę usług a uznają za część swojej organizacji.  
        </p></div>
    </div>
    <div class="customer-slider-feedback">
        <div class="quote-data">
            <div class="quote-icon">
                <img src="../../../assets/icon/quote.png" alt="">
            </div>
            <div class="quote-info">
                <div class="name">
                    Grzegorz
                </div>
                <div class="position">
                    Co-founder, CTO, Branża IT
                </div>
                <div class="icon-next">
                    <span class="prev">
                        <img src="../../../assets/icon/right-arrows.png" alt="" style="transform:rotate(180deg); width:30px; height: 30px">
                    </span>
                    <span class="next">
                        <img src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                    </span>
                </div>
            </div>
        </div>
        <div class="quote-text">
            <p>
                “Dla nas najważniejszy był fakt że  z dużą uwagą słuchali i dobrze zrozumieli niuanse naszego biznesu. Niewątpliwie godna podkreślenia jest również sprawność koordynowania projektu”
            </p>
        </div>
    </div>
    <div class="consulting">
        <div class="left-col"></div>
        <div class="right-col">
            <div class="consulting-box">
                <div class="consulting-info">
                    <div class="consulting-icon">
                        <img src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                    </div>
                    <div class="consulting-title">
                        Umów konsultację
                    </div>
                </div>
                <button>
                    <a href="#" class="button"><span>Umów konsultację</span></a>
                </button>
            </div>
            <div class="consulting-text">
                <p>
                    Nie wiemy czy będziemy w stanie Ci pomóc. Nie dowiemy się tego jeśli nie porozmawiamy. Poświęć nam 20 minut w dogodnym dla Ciebie terminie na niezobowiązującą rozmowę a będzie wiadomo czy dobrze trafiłeś. Jeśli nie będziemy mogli pomóc powiemy to wprost szanując Twój cenny czas.
                </p>
            </div>
        </div>
    </div>
</section>


