<div class="image-services" >
    <img src="../../../assets/photos/Rectangle 83.png" alt="">
    <div class="services-container">
        <div class="item item-1" >
            <div class="inside-item">
                <span class="item-slogan" >Warsztaty i strategie biznesowe
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-2">
            <div class="inside-item">
                <div class="item-slogan">
                    <span>Wdrażanie i optymalizacja procesów HR</span>
                    <div class="line"></div>
                </div>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-3">
            <div class="inside-item">
                <span class="item-slogan">Audyty i szkolenia
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-4">
            <div class="inside-item">
                <span class="item-slogan">Outsourcing procesów rekrutacyjnych [RPO]
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
    </div>
    
</div>
<div class="empty-container-left">
    <div class="white-col">
        <div class="title-article"
        >
           <h2>Sprzedaż i eMarketing
        </h2>
           <p>Aby skutecznie rozwijać biznes, potrzebni są ludzie, którzy będą go współtworzyć, którzy przejmą inicjatywę, pomyślą kreatywnie, zaproponują rozwiązania. Przewagę zdobywają firmy, które potrafią takich ludzi <span>pozyskiwać i skutecznie zatrzymywać</span> na swoim pokładzie. Pomagamy firmom ocenić kondycję organizacji z perspektywy pracownika, <span>znaleźć słabe punkty i zaproponować przemyślane rozwiązania.</span>  
           </p>
        </div>
    </div>
    <div class="blue-col">
    </div>
</div>
<div class="image-services" >
    <img src="../../../assets/photos/Rectangle 83 (1).png" alt="">
    <div class="services-container">
        <div class="item item-1" >
            <div class="inside-item">
                <span class="item-slogan" >Rekrutacja i miękki HR
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-2">
            <div class="inside-item">
                <div class="item-slogan">
                    <span>Wdrażanie i optymalizacja procesów HR</span>
                    <div class="line"></div>
                </div>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-3">
            <div class="inside-item">
                <span class="item-slogan">Audyty i szkolenia
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
        <div class="item item-4">
            <div class="inside-item">
                <span class="item-slogan">Outsourcing procesów rekrutacyjnych [RPO]
                    <div class="line"></div>
                </span>
                <p class="p-class">Wspólnie z Tobą, wykorzystując własne doświadczenia biznesowe, zastanowimy się nad tym jak najlepiej poukładać procesy, jak komunikować się z klientami a jak z potencjalnymi pracownikami</p>
                <button>
                    <span>
                        Czytaj więcej
                    </span>    
                        <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
                </button>
            </div>
        </div>
    </div>
    
</div>