<section>
    <div class="baner-section">
        <div class="icon">
                <img src="../../../assets/icon/Vector.png" alt="" style="width:20px; height: 20px">
        </div>
        <div class="title-text">
            <span>Umów konsultację</span>
        </div>
        <div class="button-consultacion">
            <a href="#" class="button"><span>Umów termin</span></a>
        </div>
    </div>
    <div class="article-three-row">
        <div class="text-article-three">
            <div class="title-article">
                <div class="title-small"><span>CASE STUDY | WWW | IT</span></div>
            </div>
            <h2>Nowa wersja ambitnego startupu IT</h2>
            <p>Klientem jest istniejąca od kilku lat na rynku firma z branży IT.  Specjalizuje się w usługach devops, architekturze i administracji sieciami IT. Klientami są średnie i duże spółki z różnych branż.
                <br><br>
                Firma chce uporządkować swoją ofertę, przedstawić w czytelny dla potencjalnego klienta sposób, właściwie zaadresować. Chce również zwiększyć skalę działalności poprzez dotarcie do nowych klientów. Do tej pory większość projektów pozyskiwała dzięki poleceniom zadowolonych klientów.</p>
            <button>
                <span>
                    Czytaj więcej
                </span>    
                    <img class="right-arrow-icon" src="../../../assets/icon/right-arrows.png" alt="" style="width:30px; height: 30px">
            </button>

        </div>
        <img src="../../../assets/photos/worker3.png" alt="">
        <div class="blue-box">1212</div>
    </div>
</section>