.article-one-row{
    display: flex;
    margin-top: 80px;

    .one-col{
        width: 42%;

        .photos{
            width: 100%;
        }
    }

    .text-article{
        padding: 2%;
        margin-left: 2%;
        width: 40%;

        .title-article{
            display: flex;
            .title-small{
                width: 50%;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;

                span{
                    color: #000000;
                }
            }
            .line{
                flex-grow: 1;
                text-align: right;
                width: 55%;
                margin-top: 13px;
                height: 0px;
                border-top: 1px solid #D9D9D9;
            }
        }
        h2{
            margin-top: 48px;
            font-weight: 600;
            font-size: 3rem;
            line-height: 1.25;
            font-family: "Overpass", sans-serif;
            color: #000000;
        }
        p{
            margin-top: 40px;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.875;
            color: #383838;
        }
        ul{
            margin: 0;
            padding: 0;
            
            li{
                display: flex;
                margin: 15px 0;
                list-style-type:none;
                color: #000000;
                font-size: 1rem;
                line-height: 1.875;
                font-weight: 400;

                img{
                    margin-right: 20px;
                    width:35px; 
                    height: 35px; 
                    border-radius: 50%; 
                    background-color: #FEDADA; 
                    padding: 10px;
                }
                p{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .menu-article{
        width: 18%;
        
        .menu{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        margin-right: 0;
        text-align-last: left;
        width: 100%;
        background: linear-gradient(89.94deg,#f20208 .05%,#fc7467 100.91%);

        .menu-title{
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.25;
            color: #FFFFFF;
        }

        .subtitle{font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 1.7;}

        ul{
            margin-top: 20px;
            padding: 0;
            width: 70%;
            font-weight: 400;
            font-size: 16px;

/*             li{
                margin: 20px 0;
                list-style-type:none;
                margin-left: 0;
                width: 70%;
                
            } */

        }

        .chooseLink.active-img{
            width: 70%;
            text-align: left;
            border-bottom: 2px solid white;
            transition: all 0.6s ease;
        }
        }
    }
}

.chooseLink{
    color: #f20208;
    ul{
        color: white;
    }
}
.active-img{
    cursor: pointer;
    transition: all 0.6s ease;
    color: black;
}
.active-img:hover{
    color: black;
    font-size: 80px;
}
.active-img:active{
    color: black;
    font-size: 80px;
    border-bottom: 2px solid white;
}



.image-active{
    display: block;
    width: 100%;
    height: 100vh;
  }

  /////////////
  /// 
  /// 
  
  .carousel-container{
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
  
    img{
      display: none;
    }
  
  
    .image-active{
      display: block;
      width: 100%;
      height: 100vh;
    }
  
  
  }
  
  /* .carousel-dot-container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 1rem;
  
    .dot{
      cursor: pointer;
      height: 13px;
      width: 13px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      transition: opacity 0.6s ease;
      opacity: 0.5;
    }
  
    .active, .dot:hover{
      opacity: 1;
    }
  } */
  
  
  .fade{
    animation-name: fade;
    animation-duration: 6.5s;
  
  }
  
  @keyframes fade {
    from{
      opacity: 0.4;
    }
    to{
      opacity: 1;
    }
  }
  
  
  
  
  .btn-carousel{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    border:0;
    cursor: pointer;
  }
  
  .btn-prev{
    left: 0;
  }
  .btn-next{
    right: 0;
  }
  
  svg{
    color: #fff;
    opacity: 0.5;
    transition: all 0.15s ease;
  }
  
  svg:hover{
    opacity: 0.9;
  }
  svg:active{
    color: #fff;
    opacity: 0.5;
  }
    
  
    /////////
    /// 
    .carousel-title-container{
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      height: 80px;
  
  
    } 
    .title{
      margin: 0;
      padding: 0;
      height: 80px;
      border-top: 1px solid hsla(0,0%,96.1%,.2);
      border-right: 1px solid hsla(0,0%,96.1%,.2);
      opacity: 0.3;
    }
    
  
  span.title{
    height: 80px;
    cursor: pointer;
    color: white;
    width: 100%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.8;
  }
  
  span.title.active{
    height: 80px;
    cursor: pointer;
    background-color: #fff;
  }
  
  h2.title-photo{
    margin: 0;
    padding-top: 8%;
    font-size: 16px;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
    color: white;
  }
  
  h2.title-photo.active{
    margin: 0 20%;
    color: black;
    border-bottom: 3px solid #000;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
  }
  
  ////////////////////////////
  
  .slider-section-info{
    position: absolute;
    bottom: 200px;
    left: 100px;
    width: 531px;
    height: 380px;
    padding: 50px 50px 50px 50px;
    background: linear-gradient(89.94deg, #F20208 0.05%, #FC7467 100.91%);
    animation-name: slider-section-info;
    animation-duration: 2.5s;
  
    h3{
      font-family: 'Overpass';
      font-style: normal;
      text-align: left;
      font-weight: 400;
      font-size: 36px;
      line-height: 46px;
      color: #FFFFFF;
    }
    p{
      font-family: 'Overpass';
      text-align: left;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      /* or 188% */
      color: #FFFFFF;
    }
  
    .link{
      width: 40%;
      height: 30px;
      a{
        display: flex;
        text-decoration: none;
  
        span{
          margin-top: 2%;
          font-weight: 400;
          font-size: 16px;
          color: #fff;
        }
        .right-arrow-icon{
          width: 30px;
          height: 30px;
          margin-left: 10px;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
          padding: 5px;
        }
      }
      a:hover{
        span{
          border-bottom: 2px solid #FFFFFF;
        }
        .right-arrow-icon{
          border: 2px solid #d81313;
  
        }
      }
  
    }
  }
  
  @keyframes slider-section-info {
    from{
      position: absolute;
      bottom: 200px;
      left: -500px;
      opacity: 0.4;
    }
    to{    
      position: absolute;
      bottom: 200px;
      left: 100px;
      opacity: 1;
    }
  }
  