<section>
    <div class="baner-section">
        <div class="icon">
                <img src="../../../assets/icon/Vector.png" alt="" style="width:20px; height: 20px">
        </div>
        <div class="title-text">
            <span>Porozmawiajmy</span>
        </div>
        <div class="button-consultacion">
            <a href="#" class="button"><span>Wybierz termin</span></a>
        </div>
    </div>
    <div class="services">
        <div class="title-article">
            <div class="title-small"><span>ROZWIĄZANIA I USŁUGI</span></div>
            <div class="line"></div>
        </div>
        <div class="text-services-container">
            <div class="text-article">
                <div class="title-article">
                    <div class="title-article-left">
                        <span class="span-one">Myśląc poważnie o rozwoju swojej firmy, skalowaniu biznesu w oparciu o stabilne fundamenty, warto pomyśleć o partnerze, który będzie w stanie sprostać pojawiającym się szansom i wyzwaniom. Jako Grupa ECS staramy się budować partnerskie środowisko łącząc doświadczonych konsultantów, ambitnych freelancerów z Klientami, którzy chcą osiągać sukces w biznesie. </span>
                        <br><br><br>
                        <span class="span-two">Doskonale rozumiemy, że jako przedsiębiorca jesteś bardzo zajętą osobą. Naszym zadaniem jest powiedzieć co, jak i dlaczego zrobić? A następnie zadbać aby się to zadziało, zdejmując z Ciebie część ciężaru dostarczając knowhow i właściwych ludzi. Ty skoncentruj się na prowadzeniu biznesu, my zadbamy o resztę. </span>
                    </div>
                </div>
            </div>
            <div class="col2">
                <div class="title-article-right">
                    <p>Działamy zarówno wewnątrz firmy pomagając przy planowym poukładaniu elementów, jak i na zewnątrz w ramach usługi outsourcingu. 
                        Czy znajdziemy obszary do współpracy? Najprościej porozmawiać.</p>
                    <span class="slogan"> Rozwiązania i usługi </span>
                </div>
            </div>
        </div>

    </div>
    <div class="empty-container-right">
        <div class="white-col">
            <div class="title-article"
            >
               <h2>Sprzedaż i eMarketing
            </h2>
               <p>Pomagamy zaprojektować <span>kompleksowe strategie</span> dla  działań związanych z  <span>e-marketingiem, nowoczesnymi formami prospectingu i prowadzenia sprzedaży</span>.  Pokazujemy jak wyprzedzić konkurencję, bez konieczności obniżania cen dostarczanych produktów czy świadczonych usług.  
               </p>
            </div>
        </div>
        <div class="blue-col">
        </div>
    </div>
</section>