<app-nav-section></app-nav-section>

<app-slider-main [images]="images"
                 [autoSlide]="true"
></app-slider-main>
<app-first-section-of-title-page></app-first-section-of-title-page>
<app-second-section-of-title-page></app-second-section-of-title-page>
<app-third-section-of-title-page></app-third-section-of-title-page>
<app-services-image-section [imagesServ]="imagesServ"
></app-services-image-section>
<app-services-image-two [imagesServTwo]="imagesServTwo"></app-services-image-two>
<app-fifth-section-of-title-page></app-fifth-section-of-title-page>
<app-wspolprace-section></app-wspolprace-section>
<app-footer></app-footer>


