<section>
    <div class="empty-container-right">
        <div class="white-col"></div>
        <div class="blue-col">
            <span class="slogan"> Biznes Nawigator</span>
        </div>
    </div>

    <!--ARTICLE -->
    <div class="article-one-row" >
        <div class="one-col">
            <img class="photos" src="../../../assets/photos/Boat.png" alt=""
            >
        </div>
        <div class="text-article">          
            <ul>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Czy zastanawiałeś się kiedyś nad tym, jak dobrze byłoby mieć zaufanego, <span>doświadczonego i obiektywnego doradcę, który pomoże w podjęciu ważnych dla Twojego biznesu decyzji?</span>
                    </p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Kogoś kto pracował dla wielu firm, poznał różne modele biznesowe, zarządzał i doradzał innym organizacjom. Kto spojrzałby na to co robicie z innej niż Ty i Twój zespół perspektywy?
                    </p>
                </li>
                <li >
                    <img src="../../../assets/icon/Vector 3.png" alt="icon">
                    <p>Doradcę, który mógłby pomóc obsłużyć obszary, które nie są dla Ciebie kluczowe, ale bez nich stabilny i bezpieczny rozwój Twojej firmy będzie trudny a czasem wręcz niemożliwy?</p>
                </li>
            </ul>
            <h3 class="title-small">
                Grupa ECS powstała jako odpowiedź na te i podobne pytania właścicieli i zarządzających firm z sektora MŚP.
            </h3>
            <p class="p-info">Tworzą ją doświadczeni konsultanci biznesowi oraz wysokiej klasy specjaliści z różnych obszarów marketingu, sprzedaży i HR, którzy już wkrótce mogą pracować również dla Ciebie.</p>
        </div>
    </div>
    <div class="blue-box">
        <img class="blue-box-img" src="../../../assets/photos/computer.png" alt="">
        <div class="box-right-arrow-icon">
            <img class="right-arrow-icon" src="../../../assets/icon/Polygon.png" alt="" >
        </div>
    </div>

    <div class="empty-container-left">
        <div class="blue-col">
            <span class="slogan"> Nasze branże</span>
        </div>
        <div class="white-col"></div>
    </div>
</section>
